.env
auth.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# System files
.DS_Store
Thumbs.db

# VSCode or editor settings
.vscode/
*.code-workspace

# Logs or debug files
*.log

# Node/Vercel
node_modules/
.vercel/



# Ignore data directory
TDS-Project1-Data/
