.env
auth.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/



# VSCode or editor settings
.vscode/
*.code-workspace

# Logs or debug files
*.log

# Node/Vercel
node_modules/

